@model KitabxanaProyekti.Models.Entity.Admin_Table
@{
    ViewBag.Title = "AdminGetir";
    Layout = "~/Views/Shared/Layout.cshtml";
}

@using (Html.BeginForm("AdminGuncelle", "Ayarlar", FormMethod.Post))
{
    <div style="margin-top:15px; ">
        <label><b>E-Mail</b></label>
    </div>
    @Html.TextBoxFor(x => x.Mail, new { @class = "form-control" })
    <div style="margin-top:15px; ">
        <label><b>Şifrə</b></label>
    </div>
    @Html.TextBoxFor(x => x.Sifre, new { @class = "form-control" })
    <div style="margin-top:15px; ">
        <label><b>Vəzifə</b></label>
    </div>
    @Html.TextBoxFor(x => x.Vezife, new { @class = "form-control" })

    <button class="btn" style="background-color:#059430; color:white;  margin-top:15px;"><i class="fa  fa-plus-refresh"></i> Güncəllə</button>
}

