@model KitabxanaProyekti.Models.Entity.Yazici_Table
@{
    ViewBag.Title = "YaziciElaveEt";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<form class="form-group" method="post">
    <div style="margin-top:15px;"> <label>Ad</label></div>
    <div><input type="text" name="Ad" class="form-control" /></div>
    <div style="margin-top:15px;"> <label>Soyad</label></div>
    <div><input type="text" name="Soyad" class="form-control" /></div>
    <div style="margin-top:15px;"> <label>Haqqında</label></div>
    <div><input type="text" name="Aciqlama" class="form-control" /></div>
    <button class="btn" style="background-color:#045ecc; color:white; margin-top:15px;"><i class="fa  fa-plus-circle"></i> Əlavə Et</button>
</form>