
@{
    Layout = null;
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<!DOCTYPE html>


<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
body {font-family: "Lato", sans-serif;}

.sidebar {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 16px;
}

.sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
}

.sidebar a:hover {
  color: #ff6a00;
}

.main {
  margin-left: 200px; /* Same as the width of the sidenav */
  padding: 0px 10px;
}

@@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}
    </style>
</head>
<body>

    <div class="sidebar">
        <a href="/Statistika/Index/"><i class="glyphicon glyphicon-home"></i> &nbsp; Əsas Səyfə </a>
        <a href="/Kategoriya/Index/"><i class="glyphicon glyphicon-list"></i> &nbsp; Kategoriyalar </a>
        <a href="/Kitab/Index/"><i class="glyphicon glyphicon-book"></i> &nbsp; Kitablar </a>
        <a href="/Yazici/Index/"><i class="glyphicon glyphicon-pencil"></i> &nbsp; Yazıçılar </a>
        <a href="/Istifadeci/Index/"><i class="glyphicon glyphicon-user"></i> &nbsp; İstifadəçilər </a>
        <a href="/Isci/Index/"><i class="glyphicon glyphicon-briefcase"></i> &nbsp; İşçilər </a>
        <a href="/KitabVer/KitabVer/"><i class="glyphicon glyphicon-open"></i> &nbsp; Kitab Ver </a>
        <a href="/KitabVer/KitabQaytar/"><i class="glyphicon glyphicon-save"></i> &nbsp; Kitab Qaytar </a>
        <a href="/KitabVer/KitabQaytarKecmisi/"><i class="glyphicon glyphicon-transfer"></i> &nbsp; Qayatarılanlar</a>
        <a href="/Statistika/Index/"><i class="glyphicon glyphicon-list-alt"></i> &nbsp; Statistika </a>
        <a href="#"><i class="glyphicon glyphicon-usd"></i> &nbsp; Kassa </a>
        <a href="/Statistika/Galeriya/"><i class="glyphicon glyphicon-picture"></i> &nbsp; Galeriya </a>
        <a href="/GoogleChart/VisulaizeGoogle/"><i class="glyphicon glyphicon-scale" 1></i> &nbsp; Google Chart </a>
        @if (User.IsInRole("A"))
        {
            <a href="/Ayarlar/AdminAyarlar/"><i class="glyphicon glyphicon-cog"></i> &nbsp; Ayarlar </a>

        }
        <a href="/Ayarlar/LogOut/"><i class="glyphicon glyphicon-log-out"></i> &nbsp; Çıxış </a>




    </div>

    <div class="main">
        @RenderBody()
    </div>

</body>
</html>
