@model KitabxanaProyekti.Models.Entity.Elan_Table
@{
    ViewBag.Title = "ElanGetir";
    Layout = "~/Views/Shared/Layout.cshtml";
}

@using (Html.BeginForm("ElanGuncelle", "Elanlar", FormMethod.Post))
{
    <div style="margin-top:15px;"><b>ID</b></div>
    @Html.TextBoxFor(x => x.ID, new { @class = "form-control" })
    <div style="margin-top:15px;"><b>Kategoriya</b></div>
    @Html.TextBoxFor(x => x.Kategoriya, new { @class = "form-control" })
    <div style="margin-top:15px;"><b>Məzmun</b></div>
    @Html.TextAreaFor(x => x.Mezmun, new { @class = "form-control" })
    <div style="margin-top:15px;"><b>Tarix</b></div>
    @Html.TextBoxFor(x => x.Tarix, new { @class = "form-control" })
    <div style="margin-top:15px;">
        <button class="btn btn-success">
            Güncəllə
        </button>
    </div>
}